
SourceCode/.vs/VisualBasicExamples/v15/Server/sqlite3/storage.ide-wal
SourceCode/.vs/VisualBasicExamples/v15/Server/sqlite3/storage.ide-shm
SourceCode/.vs/VisualBasicExamples/v15/Server/sqlite3/storage.ide
SourceCode/.vs/VisualBasicExamples/v15/Server/sqlite3/db.lock
SourceCode/.vs/VisualBasicExamples/v15/.suo
